/* wwwroot/css/site.css */
body {
    background-color: #e0f7e0; /* Світло-зелений фон */
    text-align: center;
}

h1, p {
    color: #006400; /* Темно-зелений текст */
    margin: 0;
}

p {
    font-size: 20px; /* Розмір шрифту для тексту */
}

strong {
    color: #008000; /* Середньо-зелений для виділеного тексту */
}
