@{
    ViewData["Title"] = "Головна сторінка";
}

<h1>Інформація про студента</h1>
<p><strong>Прізвище та ім’я:</strong> @ViewBag.Name</p>
<p><strong>Номер групи та назва вузу:</strong> @ViewBag.Group</p>
<p><strong>Тема курсового проекту:</strong> @ViewBag.ProjectTopic</p>
<img src="~/images/hnu.jpg"  style="margin-top: 20px; width: 700px; height: auto;">
